# Ignore virtual environment
venv
.venv

# Ignore Python byte code
__pycache__
*.pyc

# Ignore log files
*.log

# Ignore data files
/data

# Ignore output files
/output
/png_output

# Ignore DS_Store files
.DS_Store

# Ignore temporary files
*.swp
*~

# Ignore VS Code files
.vscode